body{
  background-image: url(https://www.jeopardy.com/sites/default/files/styles/article_image_960_/public/2020-09/2_empty_set2.jpg?itok=Orwp0_T6);
}
.text{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAVf339D15FlOHGkGJW5_16Gv1llXPhD8MeA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  
  border: 3px solid blue;
  height: 200px;
    width: 300px;
    border-radius: 20px;
    color: whitesmoke;
    box-shadow: 0 2px 2px rgba(167, 85, 85, 0.2);
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    /* display: flex; */
    text-align: center;
    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    
}




