*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    background-color: blue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: whitesmoke;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: black;
    padding: 10px 25px;
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}